.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.router-link{
    color: #0052CC !important;
    text-decoration: none;
}
.external-link{
    color: #0052CC !important;
    text-decoration: none;
    font-weight: 400;
}
.text-gray{
    color:#8F92A1;
}